<section class="header-padded">
  <div class="padded-container">
    <div class="intrinsic-container intrinsic-container-16x9">
      <iframe src="https://www.youtube.com/embed/Qjr2cZiLEyo" frameborder="0" gesture="media"
              allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="title-container justified">
      <h1>Haida Now Documentary</h1>
      <h2>Cinematography - Sound Design</h2>
    </div>
    <div class="grid gutters project-description">
      <div class="col">
        <h3>
          My Roles
        </h3>
        <ul>
          <li>External Relations/Team Leader</li>
          <li>Sound Designer</li>
          <li>Co-Cinematographer</li>
          <li>Co-Editor</li>
          <li>Co-Director</li>
        </ul>
      </div>
      <div class="col">
        <h3>
          Teammates
        </h3>
        <ul>
          <li>Jessica Fan</li>
        </ul>
      </div>
      <div class="col one-half">
        <h3>
          The Brief
        </h3>
        <ul>
          <li> As part of a collaborative effort between SFU and the Museum of Vancouver, a series of short
            documentaries were being made as part of an
            exhibit about the Haida, an indigenous people native to British Columbia. My team was tasked to interview
            two of the curators exhibit.
          </li>
        </ul>
      </div>
    </div>
    <div class="project-foreward">
      <p>Haida Now was an exciting project where my team and I worked closely with Haida curator and artist Kwi Jones
      and MOV Curator Viviane Gosselin to highlight the Museum's role in the reconciliation process.</p>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Cleaning the Audio, an Exercise in Insanity</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <h3>Bad Audio</h3>
        <audio controls src="assets/audio/haida-bad-audio.wav"></audio>
      </div>
      <div class="col">
        <h3>Better Audio</h3>
        <audio controls src="assets/audio/haida-good-audio.wav"></audio>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          Our audio from the initial interview was subject to several abject horrors including but not limited to
          lavalier mic rustling,
          very noticeable background noise from exhibits, and the droning of an angry air conditioner. After a lot of
          experimentation, research,
          and sleepless nights I was able to clean it to a level that would sound clean on most speakers.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Adjusting, Adjusting, Adjusting</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-carousel>
          <figure class="visible">
            <img src="assets/images/haida_now/not-color-corrected.png"
                 alt="Image of Kwi Jones, not color corrected">
            <figcaption>Pre-color correction</figcaption>
          </figure>

          <figure>
            <img src="assets/images/haida_now/color-corrected.png"
                 alt="Image of Kiw Jones, color corrected">
            <figcaption>Post-color correction</figcaption>
          </figure>
        </app-carousel>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          Our film was all over the place lighting and color palette wise so color correction was a grueling team
          experience. My partner and I co-piloted
          this process in order to bring everything to a more neutral palette. I then went back through and added a
          final adjustment layer
          to make our film a touch more cinegrapic and blend together some of our more color contrasted scenes.
        </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Reflection</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          This project was a really valuable lesson in terms of collaborating with a community partner and getting to
          bring to light a
          compelling story on subject matter that was completely alien to me prior. Moving forward I have a new found
          appreciation
          for the variety of camera techniques and shot types that are possible and the narrative impact of each, as
          well as
          a deepened respect for audio editing and the value clean audio brings to a project.
        </p>
      </div>
    </div>
  </div>
</section>
