@import "../../../assets/global-styles/variables";

.project-listing {
  margin: 0;
  position: relative;
  box-shadow: 10px 10px 5px $tertiary-color;
  img {
    display: block;
  }
}

.overlay {
  position: absolute;
  cursor: pointer;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  &:hover, &:focus {
    opacity: 1;

    .overlay-text {
      p {
        animation: title-animation;
        animation-duration: 1s;
        animation-iteration-count: 1;
      }
    }
  }
}

.overlay-color {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: #343436;
  opacity: 0.6;
}

.overlay-text {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
  }
}

@keyframes title-animation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
