@import "../../../assets/global-styles/variables";

.project-listing {
  margin: 0;
  position: relative;
  img {
    display: block;
  }
}

.overlay {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.overlay-color {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #343436;
  opacity: 0.6;
}

.overlay-text {
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
  }
}

.lower-heading {
  text-align: center;
  display: none;
}

.overlay-text {
  .project-title {
    padding-right: 1rem;
  }
  .skills-description {
    position:relative;
    padding-left: 1rem;
    &:before {
      content: "";
      background: white;
      position: absolute;
      bottom: 10%;
      top: 10%;
      left: 0;
      width: 1px;
    }
  }
}

.project-listing-wrapper {
  color:$main-font-color;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.skills-description {
  font-size: 0.9rem;
}

@keyframes title-animation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes lower-title-animation {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@media (min-width: 54.125em) {
  .overlay-text {
    p {
      opacity: 0;
    }
  }
  .lower-heading {
    display: block;
  }
  .project-listing-wrapper {
    .overlay {
      opacity: 0;
    }
    &:hover, &:focus {
      .overlay {
        opacity: 1;
      }
      .overlay-text {
        p {
          animation: title-animation;
          animation-duration: 0.5s;
          animation-iteration-count: 1;
          animation-delay: 0.1s;
          animation-fill-mode: forwards;
        }
      }
      .lower-heading {
        animation: lower-title-animation;
        animation-duration: 0.4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }
}
