<section class="header-padded">
  <div class="padded-container">
    <div class="title-container justified">
      <h1>Citations</h1>
    </div>
    <ul class="citations-list">
      <li><a href="https://angular.io/guide/setup"> Angular
        (Owner) Angularjs [Javascript Framework]
        https://angular.io/guide/setup
      </a></li>
      
      <li><a href="https://fonts.google.com/specimen/Playfair+Display">Google (Owner) Playfair Display [Font] Retrieved
        from
        https://fonts.google.com/specimen/Playfair+Display </a></li>
      <li>
      
      <li><a href="https://fonts.google.com/specimen/Roboto">Google (Owner) Poppins [Font] Retrieved
        from
        https://fonts.google.com/specimen/Poppins </a></li>
      <li>
      
      <li><a href="http://www.mhoferii.com/"> Michael Hofer
        (Owner) Old portfolio Site [Website]
        http://www.mhoferii.com/
      </a></li>
      
      <li><a href="https://necolas.github.io/normalize.css/">Necolas (Owner) normalize.css [CSS library]
        Retrieved from
        https://necolas.github.io/normalize.css/</a></li>

    </ul>
  </div>
</section>
