<nav>
  <div class="padded-container">
    <div class="grid gutters">
      <div class="col">
        <a routerLinkActive="active" [routerLink]="['/home']">Home</a>
      </div>
      <div class="col">
        <a routerLinkActive="active" [routerLink]="['/projects']">Projects</a>
      </div>
      <div class="col">
        <a routerLinkActive="active" [routerLink]="['/about-me']">About Me</a>
      </div>
      <div class="col">
        <a routerLinkActive="active" [routerLink]="['/style-guide']">Style Guide</a>
      </div>
      <div class="col">
        <a routerLinkActive="active" [routerLink]="['/citations']">Citations</a>
      </div>
    </div>
  </div>

</nav>
