nav {
  padding-bottom: 1rem;
  max-width: 72rem;
  margin:auto;
  a {
    font-weight: 700;
    font-size: 1.5rem;
    color:black;
    flex: 1;
    text-align: center;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    &:hover, &:focus {
      border: solid;
      transition: transform 0.1s ease-in;
      transform: translateY(0.5rem);
    }
  }
  a.active {
    border: solid;
    transition: transform 0.1s ease-in;
    transform: translateY(0.5rem);
  }
}

