nav {
  display: flex;
  width:100%;

  a {
    flex: 1;
    text-align: center;
    padding: 3rem 6rem;
    text-decoration: none;
    &:hover, &:focus {
      border: solid;
      transition: transform 0.1s ease-in;
      transform: translateY(0.5rem);
    }
  }
}
