/* You can add global styles to this file, and also import other style files */
@import "assets/global-styles/normalize.css";
@import "assets/global-styles/grid";
@import "assets/global-styles/text-styles";
@import "assets/global-styles/nav-links";
@import "assets/global-styles/form-field";
@import "assets/global-styles/main";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:300');

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  max-width: 72rem;
  margin: auto;
  width: 100%;
}
