@import "../../assets/global-styles/variables";
$carousel-transition-time: 0.5s;
$carousel-arrow-width: 2rem;
$carousel-arrow-position:  -$carousel-arrow-width - 0.2rem;

:host ::ng-deep figure {
  opacity: 1;
  position: relative;
  transition: opacity $carousel-transition-time;
  top:0;
  left:0;
  width:100%;
  &.visible {
    transition: opacity $carousel-transition-time;
    opacity: 1;
    position:relative;
  }
}

.carousel {
  position: relative;
}

.carousel-content {
  position: relative;
}

@mixin carousel-arrow() {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  svg {
    width: $carousel-arrow-width;
    polygon {
      fill: $secondary-color;
    }
    &:hover, &:focus {
      polygon {
        fill: darken($secondary-color, 20%);
      }
    }
  }
}

.prev-arrow {
  left: $carousel-arrow-position;
  @include carousel-arrow;

}

.next-arrow {
  right: $carousel-arrow-position;
  @include carousel-arrow;
  svg {
    transform: rotate(180deg);
  }
}

.carousel-arrow {
  display: none;
  cursor: pointer;
}

@media (min-width: 54.125em) {
  :host ::ng-deep figure {
    opacity: 0;
    position:absolute;
  }
  .carousel-arrow {
    display: flex;
  }
}
