
:host ::ng-deep figure {
    display: block;
  &.visible {
    display: block;
  }
}

.carousel {
  position: relative;
}

@mixin carousel-arrow() {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  svg {
    width: 2rem;
  }
}

.prev-arrow {
  left: -2.2rem;
  @include carousel-arrow;

}

.next-arrow {
  right: -2.2rem;
  @include carousel-arrow;
  svg {
    transform: rotate(180deg);
  }
}

.carousel-arrow {
  display: none;
}

@media (min-width: 54.125em) {
  :host ::ng-deep figure {
    display: none;
  }
  .carousel-arrow {
    display: flex;
  }
}
