<section  class="header-padded">

  <div class="padded-container">
    <div class="title-container justified">
      <h1>Bio</h1>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure><img src="assets/images/bio-pic.PNG" alt="Picture of neo-noir Mike."></figure>
      </div>
      <div class="col">
        <p>
          <em>Creativity and intention are the two aspirations that govern my work.</em> Truly satisfying solutions
          require a
          novel approach in which every detail of a problem is considered and addressed with the utmost care given the
          extent of our knowledge and constraints of our time frame. My goal in life is to continuously expand my
          creative outlook and
          ability ot act with clear and resolute intention when it comes to tackling problems in design, development,
          and life.
        </p>
      </div>
    </div>
  </div>

</section>

