<section class="header-padded">

  <div class="padded-container">
    <div class="title-container justified">
      <h1>Bio</h1>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure><img src="assets/images/squad.jpg" alt="Picture of Mike and his friends striking a pose after a Krav Maga belt test."></figure>
      </div>
      <div class="col">
        <p>
          Michael Hofer is a doer of ambitious things based out of Vancouver. He enjoys the production and later
          consumption of alcohol, moderately extravagant words and niche sayings, and subjecting himself to mentally and
          physically grueling pastimes like Krav Maga and Web Development. As a result of his creative and academic
          wanderlust he has stumbled into an eclectic skillset centered on designing and developing for the web with
          smatterings of cinematography, game design, and entrepreneurial aspirations mixed in which has made his career
          interesting if not a bit confusing.
        </p>

        <h2>Feel free to say hi!</h2>
        <p class="email">developer.mikehofer@gmail.com</p>
      </div>
    </div>
  </div>

</section>

