<section  class="header-padded">

  <div class="padded-container">
    <div class="title-container justified">
      <h1>Projects</h1>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-project-listing
          rLink="/projects/vanguard"
          projImage="assets/images/vanguard/portrait.png"
          projCaption="EB Games Vanguard"
          projCaption2="UX/Web Design, Service Design"
          projDescription="Project listing of a computer displaying EB games vanguard"
        ></app-project-listing>
      </div>
      <div class="col">
        <app-project-listing
          rLink="/projects/company-site"
          projImage="assets/images/creation_station/cs-portrait.png"
          projCaption="Creation Station Site"
          projCaption2="Web Design and Development"
          projDescription="Project listing image of the Creation Station home page"
        ></app-project-listing>
      </div>
      <div class="col">
        <app-project-listing
          rLink="/projects/haida-now"
          projImage="assets/images/haida_now/hn-portrait.png"
          projCaption="Haida Now Documentary"
          projCaption2="Cinematography and Sound Design"
          projDescription="Project listing image for Haida Now Documentary"
        ></app-project-listing>
      </div>
    </div>
  </div>

</section>
