<section  class="header-padded">

  <div class="padded-container">
    <div class="title-container justified">
      <h1>Projects</h1>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-project-listing
          routerLink="vanguard"
          projImage="assets/images/eb-img.png"
          projCaption="EB Vanguard - UX/Web Design, Service Design"
          projDescription="Image of computer displaying EB game vanguard"
        ></app-project-listing>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
  </div>

</section>
