.nav-button {
  border: solid;
  display:inline-block;
  text-decoration: none;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  color:black;
  background: $secondary-color;
  &:hover, &:focus {
    background: lighten($secondary-color, 30%);
  }
}

a {
  color: darken($secondary-color, 30%);
}
