

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: light;
}

p {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

a {
  font-family: 'Playfair Display', serif;
}

em {
  color: $matcha-green;
  font-style: normal;
}
