$nongshim-pink:  #F19C9E;
$matcha-green: #97CF3A;
$tea-green: #E7E666;
$acorn: #C9693D;
$chestnut: #451909;

//colors
$main-color: $nongshim-pink;
$secondary-color: $matcha-green;

//header padding
$header-padding: 4rem;

//max-content widthh
$max-width: 62rem;
