$nongshim-pink:  #F19C9E;
$matcha-green: #97CF3A;
$tea-green: #E7E666;
$acorn: #C9693D;
$chestnut: #451909;

//colors
$main-color: $nongshim-pink;
$secondary-color: $matcha-green;
$tertiary-color: $chestnut;

$main-font-color: $chestnut;
//header padding
$header-padding: 4rem;
$header-padding-mobile: 13.3214375rem;
//max-content width
$max-width: 62rem;
