
<div class="splash-wrapper header-padded padded-container">
  <h1 class="splash-header"> <em>design</em> therefore <em>develop</em></h1>

  <h2 class="splash-sub-header">Ideas without execution are wishful thinking. Execution without ideas produces only the mundane. Mike Hofer operates
    in the space where ideas meet execution resulting in tangible creativity.</h2>
</div>


<hr>
<section>

  <div class="padded-container">
    <div class="title-container justified">
      <h1>Projects</h1>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-project-listing
          routerLink="/projects/vanguard"
          projImage="assets/images/vanguard/portrait.png"
          projCaption="EB Vanguard - UX/Web Design, Service Design"
          projDescription="Image of computer displaying EB game vanguard"
        ></app-project-listing>
      </div>
      <div class="col">
        <app-project-listing
          routerLink="/projects/company-site"
          projImage="assets/images/creation_station/cs-portrait.png"
          projCaption="Creation Station Site - Web Design and Development"
          projDescription="Image of Creation Station home page"
        ></app-project-listing>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

</section>
