<section class="header-padded">
  <div class="padded-container">
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/creation_station/creation_station.PNG" alt="">
        </figure>
      </div>
    </div>
    <div class="title-container justified">
      <h1>Creation Station Company Site</h1>
      <h2>Web Development - Web Design</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <h4>
          My Roles
        </h4>
        <ul>
          <li>Web Developer/Designer</li>
          <li>Project Manager</li>
        </ul>
      </div>
      <div class="col">
        <h4>
          Teammates
        </h4>
        <ul>
          <li>Natasha Wainwright</li>
          <li>Summer-Lee Schoenfeld</li>
        </ul>
      </div>
      <div class="col one-half">
        <h4>
          The Brief
        </h4>
        <ul>
          <li> For an upper division web development course my group and I were asked to design and develop an ecommerce
            site
            for a fictional company. Our company, Creation Station, was a makerspace company that runs classes and rents
            high-end tools to empower its patrons to create.
          </li>
        </ul>
      </div>
    </div>
    <div class="title-container justified">
      <h2>Starting Out</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/creation_station/initial-cs.PNG" alt="">
        </figure>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          Starting out we compared existing sites from our previous week of work in order to form the basis of our site.
          Using atomic design principles we proceeded to develop some initial
          site components and templates along with a site map to guide development.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Coordination Issues</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/creation_station/trello.png" alt="">
        </figure>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          During our first week of collaboration we experienced our first run of issues in the form of
          coordinating and communicating what each of us was contributing to the git repository.To resolve this we
          elected to use Trello, a simple task management app, to
          increase transparency of what work was in progress and what each of us had committed to do.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Design Critique</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-carousel>
          <figure class="visible">
            <img src="../../../assets/images/creation_station/oversized-listing.PNG" alt="">
            <figcaption>
              Our original tools page layout, no size restriction on content meant page elements could get overly large,
              reducing the aesthetic appeal and usability.
            </figcaption>
          </figure>
          <figure>
            <img src="../../../assets/images/creation_station/tools.PNG" alt="">
            <figcaption>
              Our next iteration allows us to restrict the content size and keep ui centered, allowing us better control
              on the page aesthetic as well as increasing usability.
            </figcaption>
          </figure>
        </app-carousel>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          During our first round of peer feedback we discovered that our site had issues in terms of responsiveness
          causing certain images/ui elements to become too large/distracting. In order to correct this we elected to add
          an expanding margin space to limit the size of our content. This helped keep our content centered and more
          usable as well as more aesthetically pleasing on larger screens.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>IE Blues</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          During our final round of critique we discovered several issues in non-chrome based browsers. With IE being
          the worst offender by far, content would tend to spill over the boundaries of divs/sections and make the site
          less professional looking if not unusable. Through further investigation and css tweaking we were able to
          remove most if not all of these issues in order to get our site to its more finalized and polished state.
        </p>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-carousel>
          <figure class="visible">
            <img src="../../../assets/images/creation_station/ie-issue.PNG" alt="">
          </figure>
          <figure>
            <img src="../../../assets/images/creation_station/fixed-bottom.PNG" alt="">
          </figure>
        </app-carousel>
      </div>
    </div>
  </div>
</section>

