<section class="header-padded">
  <div class="padded-container">
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/vanguard/eb-img.png" alt="">
        </figure>
      </div>
    </div>
    <div class="title-container justified">
      <h1>EB Games Vanguard</h1>
      <h2>UX Design - Web Design - Service Design</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          As part of a design class this past Fall my team and I were tasked with generating a digital solution that
          would resolve a real world business problem for a specific client. With this in mind, my group developed the
          Vanguard rental service for EB games.
        </p>

      </div>
    </div>

    <div class="title-container justified">
      <h2>Understanding the problem</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/vanguard/chart.png" alt="">
        </figure>
      </div>
      <div class="col">
        <p>
          Based on our analysis, EB games was losing profit from their primary source of revenue: the buying and selling
          of physical games. Further research revealed that this was largely due to increasing popularity of digital
          distribution and alternative vendors such as Steam or Amazon who could offer lower price points due to the
          fact
          they had purely digital store fronts.
        </p>


      </div>
    </div>

    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/vanguard/business-model.png" alt="">
        </figure>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          Our proposed solution was a game-rental service, similar to Gamefly and Game Access, which would allow EB
          games
          to leverage existing assets, namely their large inventory, international status, and brick-and-mortar stores,
          to
          generate additional revenue.
        </p>


      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Initial Concept</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/vanguard/initial1.png" alt="">
        </figure>
        <figure>
          <img src="../../../assets/images/vanguard/initial2.png" alt="">
        </figure>
      </div>
      <div class="col">
        <p>
          In our first attempt in designing our digital platform we used Gamefly, Game Access, and Steam as basis for
          our
          UI. The result was a functional layout and a color scheme that mimicked generic game e-commerce sites and made
          us blend into the crowd. As a consequence we were asked by our profs to challenge ourselves and make a real
          effort to differentiate our interface from our competition’s, even if it meant going against typical game
          e-commerce convention.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Revision 1 - Transformational Metaphor</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/vanguard/rev1-2.png" alt="">
        </figure>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/vanguard/metaphor.png" alt="">
        </figure>
        <figure>
          <img src="../../../assets/images/vanguard/rev1-3.png" alt="">
        </figure>
      </div>
      <div class="col">
        <p>
          In our second attempt we leveraged a new “diamond motif” throughout our site that was inspired by the button
          layout found on Playstation and Xbox controllers. Our metaphor was utilized in both our navigation of the
          site,
          which was broken up into 4 different quadrants that could be navigated using the arrow keys.
        </p>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Finalization - Consistency across channels </h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="../../../assets/images/vanguard/rev-final.png" alt="">
        </figure>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          In our most recent attempt we managed to better leverage our metaphor into both the console and mobile
          channels. This made our apps/site feel more cohesive as a whole. However we feel there is still room for
          improvement, especially concerning the game details page on our website, which at the moment acts as a pop-up
          and detracts from the overall composition when contrasted to the rest of the UI. 
        </p>

      </div>
    </div>
  </div>
</section>
