<section class="header-padded">
  <div class="padded-container">
    <div class="grid gutters">
      <div class="col">
        <figure>
          <img src="assets/images/vanguard/eb-img.png" alt="">
        </figure>
      </div>
    </div>
    <div class="title-container justified">
      <h1>EB Games Vanguard</h1>
      <h2>UX Design - Web Design - Service Design</h2>
    </div>

    <div class="grid gutters">
      <div class="col">
        <h3>
          My Roles
        </h3>
        <ul>
          <li>Videographer</li>
          <li>UX/Web Designer</li>
        </ul>
      </div>
      <div class="col">
        <h3>
          Teammates
        </h3>
        <ul>
          <li>Nicholas Doering</li>
          <li>Amanda Mutsaerts</li>
          <li>Eshine Peng</li>
          <li>Sherry Zheng</li>
        </ul>
      </div>
      <div class="col one-half">
        <h3>
          The Brief
        </h3>
        <ul>
          <li> As part of a design class this past Fall my team and I were tasked with generating a digital solution
            that
            would resolve a real world business problem for a specific client. With this in mind, my group developed the
            Vanguard rental service for EB games.
          </li>
        </ul>
      </div>
    </div>

    <div class="title-container justified">
      <h2>Understanding the problem</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          EB games was losing profit from their primary source of revenue: the buying and selling
          of physical games due to increasing popularity of digital
          distribution and alternative vendors such as Steam or Amazon.
        </p>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-carousel>
          <figure class="visible">
            <img src="assets/images/vanguard/chart.png"
                 alt="Image of a bar graph showing a decrease in revenue for EB games accross new game software, new game hardware, and pre-owned games between 2007 and 2015">
          </figure>
          <figure>
            <img src="assets/images/vanguard/business-model.png"
                 alt="Image of a rental service model whre users can join a service, pick a game rental plan, exchange games without limit, and rent or return games in store or by mail">
          </figure>
        </app-carousel>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          Our proposed solution was a game-rental service which would allow EB
          games
          to leverage existing assets, namely their large inventory, international status, and brick-and-mortar stores,
          to
          generate additional revenue.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Initial Concept - Quirky yet Boring</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-carousel>
          <figure class="visible">
            <img src="assets/images/vanguard/initial1.png"
                 alt="Image of an initial eb game vanguard landing page, its a bit quirky but still fairly generic/standard compared to other e-commerce sites.">
          </figure>
          <figure>
            <img src="assets/images/vanguard/initial2.png"
                 alt="Image of an initial search results page for eb games vanguard, its stylish but still fairly generic/standard compared to its contemporaries.">
          </figure>
        </app-carousel>

      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          In our first attempt in designing our digital platform we used Gamefly, Google Play Music, and Steam as basis
          for
          our UI. The site was functional but we felt it was too generic to differentiate us from the competition.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Revision 1 - Transformational Metaphor: The End of Being Boring</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-carousel>
          <figure class="visible">
            <img src="assets/images/vanguard/metaphor.png"
                 alt="Image depcicting a game controller being the primary source of inspiration between eb game vanguards aesthetic design and navigation.">
          </figure>
          <figure>
            <img src="assets/images/vanguard/rev1.png"
                 alt="An image depicting numerous screens of the new eb games vanguard site with a newly implemented diamond motif.">
          </figure>
          <figure>
            <img src="assets/images/vanguard/van-home.jpg"
                 alt="An image of the new eb games vanguard landing page. A diamond motif and new carbon color scheme give it a unique and stylish look.">
          </figure>
          <figure>
            <img src="assets/images/vanguard/rental-large.jpg"
                 alt="An image of the new account page of eb games vanguard. A diamond motif gives lists of games an atypical, but still usable layout and aesthetic.">
          </figure>
        </app-carousel>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          A diamond motif, inspired by the button layout found on Playstation and Xbox controllers, was implemented
          throughout our site to guide both the visual aesthetic of our site and navigation of the site,
          which was broken up into 4 different quadrants that could be navigated using the arrow keys.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Revision 1.1 - Addressing User Pain Points</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-carousel>
          <figure class="visible">
            <img src="assets/images/vanguard/rev1-2.png"
                 alt="An image detailing the new queue indication system for eb games vanguard that allows users to easily see what games they have already intended to rent.">
          </figure>
          <figure><img src="assets/images/vanguard/search-page.png" alt="An image depicting the eb vanguard search page."></figure>
          <figure>
            <img src="assets/images/vanguard/rev1-3.png"
                 alt="An image of the eb games vanguard interface on mobile. The mobile design is quite generic and boring compared to the desktop variation.">
          </figure>
        </app-carousel>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          We also made an effort to resolve pain points we discovered in our competitions’ sites and services, namely
          providing feedback for when games had been added to a customer’s rental queue and providing a more tangible
          metric for game availability. However, our UI felt
          inconsistent across our channels, with the console and mobile channels in particular feeling fairly generic
          and missing our diamond aesthetic.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="padded-container">
    <div class="title-container justified">
      <h2>Finalization - Achieving Consistency Across Channels and Reflecting</h2>
    </div>
    <div class="grid gutters">
      <div class="col">
        <app-carousel>
          <figure class="visible">
            <img src="assets/images/vanguard/rev-final.png"
                 alt="An image of the final desktop and mobile versions of the eb vanguard app. The mobile version is now much more interesting and consistent with the desktop version, leveraging the same diamond motif and navigational layout.">
          </figure>
          <figure>
            <img src="assets/images/vanguard/eb-context.png" alt="Image of the eb vanguard app in context on a laptop.">
          </figure>
          <figure>
            <img src="assets/images/vanguard/details-page.png" alt="Image of the eb vanguard app details page.">
          </figure>
        </app-carousel>
      </div>
    </div>
    <div class="grid gutters">
      <div class="col">
        <p>
          In our most recent attempt we managed to better leverage our metaphor into both the console and mobile
          channels. This made our apps/site feel more cohesive as a whole. However we feel there is still room for
          improvement, especially concerning the game details page on our website, which at the moment acts as a pop-up
          and detracts from the over-all composition when contrasted to the rest of the UI. This project, while fairly
          polished, is still a work in progress and will likely take one or two more iterations until it is deemed fully
          complete.
        </p>

      </div>
    </div>
  </div>
</section>
