@import "../assets/global-styles/variables";

footer {
  margin: auto;
  width: 100%;
  padding: 1rem;
  background: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
