@import "../assets/global-styles/variables";
header {
  margin: auto;
  width: 100%;
  position:fixed;
  left:0;
  top:0;
  padding-bottom:4rem;
  background: linear-gradient($main-color, transparent);
}
