@import "../assets/global-styles/variables";

header {
  margin: auto;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;

  background: $main-color;
  z-index: 1;
}

@media (min-width: 54.125em) {
  header {
    position: fixed;
  }
}
